* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.all-links {
	width: 100%;
	height: 60px;
	background-color: ghostwhite;
	text-align: center;
	padding-top: 20px;
}

ul, li, a {
	display: inline-block;
	text-decoration: none;
	color: gray;
}

li {
	padding-left: 20px;
	padding-right: 20px;
}

a {

}

a:hover {
	border-bottom: 5px solid lightblue;
}

